{% extends 'app/base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block main-content %}

<div class="container my-5">
    <div class="row">
        <div class="text-center">
            <h4>You have no Products in your cart. </h4>

            <div class="text-center">
                <div><iframe src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExeThnYXJxbmZ1Z3VtaThlYXcwbnloMWVtaG8xaHJvejR3Z2VldGlxYSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/giXLnhxp60zEEIkq8K/200w.webp" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe></div>
                <p>Add products to check out.</p>
            </div>
        </div>
    </div>
</div>


{% endblock main-content %}
