{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}

<div class="col-sm-2 border-end">
    <h5>{{request.user}}</h5>
    <ul class="list-unstyled">
        <li class="d-grid ml-4">
            <a class="btn btn-primary" href="{% url 'profile' %}">Profile</a>
        </li>
    </ul>
</div>
<div class="col-sm-9 offset-sm-1 text-center">
    <h3>Password Changed Successfully</h3>
    <div><iframe src="https://media0.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3YXkybTd2Y3BqYWQyMTN5cW9hNmZ2Y2VqbzNlOWZvYjByYnN3OTBjciZlcD12MV9naWZzX3NlYXJjaCZjdD1n/ujvhLZGsTajgQ/200.webp" width="200" height="200" frameborder="0" class="giphy-embed" allowfullscreen></iframe></div>
</div>

{% endblock main-content %}